
@import url('https://fonts.googleapis.com/css?family=Assistant:400,600');

/* ------- Defaults ------- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
strong, b {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  -ms-flex-shrink: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ------- Main Styling ------- */

html, body {
  height: 100%;
}
body {
  width: 100%;
  background: #FFF;
  color: #202020;
  font-family: Assistant, "Helvetica Neue", "Arial Nova", "Segoe UI", Roboto, Helvetica, Arial, FreeSans, sans-serif;
}


.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.article .top-bar {
  display: flex;
  justify-content: space-between;
}
.article .top-bar span {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
}
.article .top-bar .logo {
  height: 22px;
  width: auto;
  margin: 0;
}

.article .image {
  height: 60vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.article img {
  display: block;
  max-width: 100%;
  max-height: 80vh;
  /*margin-bottom: 10px;*/
}
.article .text, .article .top-bar {
  padding: 12px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.6);
}
.article h2 {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.article p {
  font-size: 18px;
  line-height: 1.3;
}
.article {
  display: none;
  opacity: 0;
  margin: 20px;
}
.text:not(.visible), .text:not(.visible) a {
  color: transparent;
}




/* ---- Background/animation styles ---- */

body {
  background: -webkit-linear-gradient(45deg, #f19393 0%, #FFF 100%);
  background: linear-gradient(45deg, #f19393 0%, #FFF 100%);
  background-size: 200% 200%;
  height: 100%;
  width: 100%;
  -webkit-animation: background 3s ease infinite;
  animation: background 3s ease infinite;
  animation-direction: alternate;
}

@-webkit-keyframes background {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


.bg-circle {
  position: fixed;
  width: 4000px;
  height: 60px;
  z-index: -1;
  /*border-radius: 50%;*/
  background: #FFF;
  /*border: 60px solid #09F;/*rgba(0, 0, 0, 0);*/
  /*border-top-color: transparent;*/
  opacity: 0;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  top: 0;
  left: calc(50vw - 2000px);
  transform: rotate(-45deg);
  animation-name: expand1;
  /*will-change: width, height, opacity;*/
  /*transform: translateZ(0);*/
}
#c1 {
  animation-duration: 8s;
  /*transform: rotate(-45deg);*/
  /*width: 1700px;
  height: 1700px;*/
}
#c2 {
  animation-duration: 8s;
  animation-delay: 4s;
  /*display: none;*/
}
#c3 {
  animation-duration: 8s;
  animation-delay: 7s;
  /*display: none;*/
}
#c4 {
  animation-duration: 11s;
  animation-delay: 10s;
}
#c5 {
  animation-duration: 11s;
  animation-delay: 5s;
}
#c6 {
  animation-duration: 11s;
  animation-delay: 3s;
}

@keyframes expand1 {
  /*0% {*/
    /*transform: translate(-50%, -50%);*/
    /*opacity: 0;*/
    /*border-right: #09F;*/
  /*}*/
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(900px) rotate(-45deg);
    /*opacity: 0;*/
  }
}
@keyframes expand2 {
  0% {
    width: 100px;
    height: 100px;
    border-color: rgba(0, 0, 0, 0);
  }
  75% {
    border-color: rgba(255, 255, 255, 0.3)
  }
  100% {
    width: 1700px;
    height: 1700px;
    border-color: rgba(0, 0, 0, 0);
  }
}
@keyframes expand3 {
  0% {
    width: 100px;
    height: 100px;
    border-color: rgba(0, 0, 0, 0);
  }
  60% {
    border-color: rgba(255, 255, 255, 0.4)
  }
  100% {
    width: 1900px;
    height: 1900px;
    border-color: rgba(0, 0, 0, 0);
  }
}
