nav li a, nav li, nav ul {
  display: inline-block;
}
#compat-banner {
  background: #FDDE5A;
  padding: 20px 0;
  text-align: center;
}
#new-site-banner {
  display: none;
}
.content-bar section, .event-descr-bar section {
  width: auto !important;
  /* Prevents text from overlowing on right edge */
}

nav a, #hamburger span {
  display: inline-block;
}



.event {
  display: inline-block;
}
.event-bar:not(.light) .split {
  background: rgba(0,0,0,0.4);
}
.event-links a {
  display: block;
}
.event-links a span, .quick-link {
  display: inline-block;
}
.person {
  display: inline-block;
}
@media (max-width: 420px) {
  .quick-links-container {
    text-align: left;
  }
  .quick-link .circle, .quick-link span {
    display: inline-block;
  }
  .quick-link .circle {
    text-align: center;
  }
}
@media (max-width: 499px) {
  .three .event-cal span {
    display: inline-block;
  }
}
/*
@media (max-width: 790px) and (min-width: 500px) {
  .three .event-details {
    display: inline-block;
  }
}
*/
@media (min-width: 791px) {
  .events-container {
    text-align: left;
  }
  .event {
    width: calc(50% - 30px);
  }
  .event-cal {
    text-align: center;
  }
  .list .event-cal {
    display: inline-block;
  }
  .list .event-details {
    width: calc(100% - 190px);
    display: inline-block;
  }
  .three .event {
    width: calc(100% / 3 - 30px);
  }
}



#twitter-profile-sidebar {
  width: 100%;
  width: auto !important;
  margin: 0 20px 20px;
}
#twitter-profile-card {
  width: auto;
  max-width: 600px;
}
.twitter-card-header {
  display: block;
  height: auto;
}
.twitter-card-header > * {
  display: inline-block;
  vertical-align: top;
}
.twitter-card-details .info-container > div {
  display: inline-block;
  margin-right: 10px;
}

.tweet {
  max-width: 600px;
}
.tweet .user {
  display: block;
}
.tweet .user > * {
  display: inline-block;
  vertical-align: top;
}
